.img {
  width: 100%;
  border-radius: 4.75% / 3.5%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.clickable {
  cursor: pointer;
  transition: box-shadow 250ms;
}
.clickable:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.outer {
  position: relative;
  perspective: 900px;
}
.card {
  min-height: 160px;
  transition: transform 500ms;
  transform-style: preserve-3d;
}
.card.flipped {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
}
.back {
  transform: rotateY(180deg);
}
.placer {
  visibility: hidden;
}
.spin {
  animation: spin 1s infinite;
}

.highResImage {
  margin: auto;
  height: 1040px;
  max-height: 90vh;
}

@keyframes spin {
  0% {
    opacity: 1;
    filter: grayscale(0);
  }
  50% {
    opacity: 0.75;
    filter: grayscale(0.5);
  }
  100% {
    opacity: 1;
    filter: grayscale(0);
  }
}
