.img {
  width: 100%;
  border-radius: 4.75% / 3.5%;
  backface-visibility: hidden;
}
.spin {
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.outer {
  position: relative;
  perspective: 900px;
}
.card {
  min-height: 160px;
  transition: transform 500ms;
  transform-style: preserve-3d;
}
.card.flipped {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
}
.back {
  transform: rotateY(180deg);
}
.placer {
  visibility: hidden;
}
